
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --sider-width: 300px;
}

#root {
    display: grid;
    grid-template-columns: var(--sider-width) 1fr;
    height: 100vh;
    overflow: hidden;
}